.button
  border: none
  border-radius: 2px
  outline: none
  text-transform: uppercase
  font-size: 0.94rem
  &:hover
    cursor: pointer
  &--primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    background-color: $primary
    color: $light
    transition: box-shadow 0.5s
    &:hover
      box-shadow: none
  &--outline
    width: 207px
    border: 1px solid $light
    background-color: transparent
    color: $light
.label
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
.input
  padding: 0.5rem 0
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  background-color: transparent
  color: $light
  &--light
    &::placeholder
      color: $light
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url("../images/check.svg") no-repeat center
  &__label
    display: flex
    align-items: center
    &::before
      content: ""
      width: 18px
      height: 18px
      margin-right: 0.64rem
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
.scroll-top
  position: fixed
  right: 10px
  bottom: 10px
  opacity: 0
  visibility: hidden
  &__button
    padding: 0.7rem 0.1rem
    font-size: 0.7rem
    font-weight: normal
  &--visible
    opacity: 1
    visibility: visible


  