@media screen and ( max-width: 1280px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    &__item
      display: none
  .contacts
    &__button
      display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.21rem
  .design
    &__card
      margin-bottom: 4.79rem
  .col
    &-50, &-30
      margin-top: 1rem

@media screen and ( max-width: 576px )
  .scroll-top
    &__button
      display: none
  .contacts
    &__phone
      margin-right: 0
      color: $light
  .hero
    &__scroll-down
      display: none
    &__content
      width: 22.86rem
    &__title
      font-size: 1.64rem
    &__text
      font-size: 1.29rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.86rem
  .design
    background-color: $dark-mobile
  .card
    &__image
      width: 100%
    &__text
      margin: 0
      margin-top: -9.3rem
  .section
    &--dark
      padding-top: 0
    &-title
      &__heading
        &--design
          color: $light
        &--control
          margin-bottom: 2.86rem
      &__word
        &::after
          display: none
      &__image
        margin-bottom: 2rem
      &__text
        max-width: 21.86rem
        margin: auto
        color: $light
        &--design
          color: $light
  .swiper-slide
    &__text
      font-size: 1rem
  .col
    &-50
      margin-top: 2rem
    &-50, &-30
      width: 100%
  .control
    background-color: $dark
    color: $light
    &__form
      flex-direction: column
    &__input-group
      margin-bottom: 4.5rem
    &__button
      margin-top: 0.7rem
  .policy
    &__label
      &--center
        justify-content: flex-start
  .footer
    &__container
      width: 100%
      margin: 0
    &__wrap
      padding: 2.43rem 0.5rem
    &__form
      margin-right: 1rem
      margin-left: 1rem 
    &__input
      &-group
        flex-basis: 100%

@media screen and ( max-height: 360px )
  .hero
    &__scroll-down
      display: none
  .control
    &__text
      max-width: 40.79rem
    &__video
      max-width: 24.29rem
      min-height: 14.79rem
  .footer
    &__button
      margin: 0
      width: 25rem

  
  