
*, *:before, *:after
  box-sizing: border-box

html
  font-size: 14px

body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem

img
  max-width: 100%

.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    margin: auto
    max-width: 52.93rem 
    text-align: center
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      font-family: "Yeseva One"
      text-transform: uppercase
      font-weight: normal
      &--primary
        font-size: 1.93rem
        line-height: 138%
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ""
        width: 92px
        height: 2px
        margin-left: 2rem
        background-color: $primary
    &__text
      font-family: "Futura Book"
      &--projects
        max-width: 31.57rem
        font-size: 1.29rem
        line-height: 2.07rem
      &--design
        font-size: 1.43rem
        line-height: 1.93rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ""
        margin: 0 10px
        width: 32px
        height: 2px
        background-color: $primary

    